*, *::before, *::after {
  box-sizing: border-box;
}

.introduction {
  background-image: url("https://i.postimg.cc/9F4nwZ3H/Bez-nazwy-1.png");
  width: 100%;
  height: 550px;
  background-size: cover;
  background-position: center;
  position: relative;
  padding-bottom: 30px;
}

.navigation .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
}

.navigation h3 {
  font-size: 26px;
  color: #fed136;
  font-style: italic;
}

.navigation ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  height: 50%;
}

.navigation ul li {
  display: inline-block;
  position: relative;
  padding-right: 30px;
}

.navigation ul li a {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}

.navigation ul ul li {
  display: none;
}

.splash {
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
}

.splash h2 {
  padding-top: 100px;
  font-size: 40px;
  font-style: italic;
}

.splash h1 {
  font-size: 75px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.btn-one {
  text-transform: uppercase;
  background-color: #fed136;
  padding: 18px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.section-title {
  padding-top: 120px;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  text-align: center;
  font-style: italic;
  margin-bottom: 80px;
  color: #777777;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: 0 230px;
}

.row-two {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  padding: 0;
  margin: 0;
  text-align: center;
}

.box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 0 20px;
}

.circle {
  margin: 0 auto;
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 4px solid #fed136;
  z-index: 997;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.circle i {
  font-size: 30px;
  color: #fed136;
}

.box h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}

.box p {
  font-style: normal;
  color: #777777;
  margin-top: 0;
}

.portfolio {
  background-color: #f7f7f7;
}

.gallery-wrapper {
  margin: 0 230px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.box-foto {
  background-color: white;
  width: 26.33%;
  margin: 0 30px 30px 30px;
}

.box-foto img {
  width: 100%;
  height: auto;
}

.box-foto h4 {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 19px;
}
/*# sourceMappingURL=style.css.map */